<div class="profile">
   <div class="banner conteiner-fluid">
       <img class="d-block w-100 rounded mx-auto" src="../../../assets/img/web-3706551.jpg" alt="Banner">
   </div>
   <div class="avatar">
       <img class="w-70 mx-auto" src="../../../assets/img/perfil.png" alt="">
       
       <a href="#"> <i class="fa-solid fa-pencil"></i></a>
   </div>
   <div class="conteiner-fluid perfil">
       <div>
           <h1>Mauro A Vicens</h1>
           <p>Full Stack Developer Jr</p>
           <p>Armstrong (Argentina) <a href="#">Información de contacto</a></p>
       </div>
       <div class="mx-auto logo">
           <img src="../../../assets/img/logo.png" alt="" height="150px">
       </div>
   </div>
</div>
<br>