.banner {
    position: relative;
    margin: 30px auto;
    background-size: cover;
   
}

.avatar {
    position: absolute;
    float: left;
    background-size: contain;
    margin-top: -100px;
    margin-left: 70px;
}

.avatar a {
    float: right;
    margin-top: 120px;
    margin-left: 15px;
    color: #ce0909;
}


.perfil {
    margin-top: 100px;
    margin-left: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.perfil a {
    text-decoration: none;
}

.perfil p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.perfil img {
    float: right;
    max-width: 10%;
    margin-top: -200px;
    margin-right: 90px;
}

