.banner {
    position: relative;
    margin: 30px auto;
    background-size: cover;
   
}

.avatar {
    position: absolute;
    background-size: contain;
    margin-top: -100px;
    margin-left: 70px;
}


.perfil {
    margin-top: 100px;
    margin-left: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.perfil a {
    text-decoration: none;
}

.perfil p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.logo {
    width: 10%;
    align-content: flex-end;
}