@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Press+Start+2P&display=swap');

body {
    background-color: #131212;
}

.profile {
    border: 1px solid #fff;
    border-radius: 20px;
    padding-bottom: 4%;
}

.about {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
}

.exper {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
    color: #ffffff;
}

.studies {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
    color: #ffffff;
}

.skills {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
    color: #ffffff;
}

.projects {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
    color: #ffffff;
}